<!DOCTYPE html>
<html lang="de">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Cloud GameBoy Login</title>

		{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
		{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
		<style>.modal { position: relative; } body { margin-top: 100px}</style>
	</head>

	<body>

		<form class="form-horizontal" action="{{ submit_url }}" method="post">
			<div class="modal">
				<div class="modal-header">
					<h3>Cloud GameBoy</h3>
				</div>

				<div class="modal-body">

					{% if error %}<div class="alert alert-error"><strong>{{ error }}</strong></div>{% endif %}

					<div class="control-group">
						<label class="control-label" for="inputName">Name</label>
						<div class="controls">
							<input type="text" id="inputName" placeholder="Name" name="admin_name">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Password</label>
						<div class="controls">
							<input type="password" id="inputPassword" placeholder="Password" name="admin_pass">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox" for="inputRelogin">
								<input type="checkbox" id="inputRelogin" name="relogin"> Remember login
							</label>
						</div>
					</div>
				</div>

				<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>

		<form class="form-horizontal" action="{{ submit_url }}" method="post">
			<div class="modal">
				<div class="modal-header">
					<h3>Create Account</h3>
				</div>

				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="regName">Name</label>
						<div class="controls">
							<input type="text" id="regName" placeholder="Name" name="register_name">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="regPass">Password</label>
						<div class="controls">
							<input type="password" id="regPass" placeholder="Password" name="register_pass">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="regRep">Repeat Password</label>
						<div class="controls">
							<input type="password" id="regRep" placeholder="Password" name="register_repeat">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="regMail">E-Mail</label>
						<div class="controls">
							<input type="text" id="regMail" placeholder="E-Mail" name="register_mail">
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
		</form>
	</body>
</html>