<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Cloud GameBoy</title>

	{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
	{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
</head>

<body>

<div id="content">
	<noscript>
		<div class="alert alert-error">Please enable Javascript.</div>
	</noscript>

	{% if error %}
		<pre class="alert alert-error">{{ error|raw }}</pre>
	{% endif %}

	{% if success %}
		<pre class="alert alert-success">{{ success }}</pre>
	{% endif %}

	{% if files %}
		<div class="pull-left well files">
			<div class="btn-group">
				<a class="btn btn-success" href="?modul=compile"><span class="icon-play icon-white"></span> Compile & Run</a>
				{% if writable %}
				<a class="btn" href="#newFileModal" data-toggle="modal"><span class="icon-plus"></span> New</span></a>
				{% endif %}
			</div>
			<br><br>

			<ul class="nav nav-list">
				{% for type, names in files %}
					<li class="nav-header">{{ type }}</li>
					{% for name in names %}
						<li {% if current==name %}class="active"{% endif %}>
							<a href="?modul={{ type }}&id={{ name }}">
								<img src="img/file_{{ type }}.png">
								{{ name }}
							</a>
						</li>
					{% endfor %}
				{% endfor %}
			</ul>

			<br>
			<p><a class="btn" href="?modul=overview" style="width: 180px">Settings</a></p>
			<p><a class="btn" href="?" style="width: 180px">Projects</a></p>
		</div>

		<div id="editor">
			{% if template %}
				{% include template %}
			{% endif %}
			{{ content|raw }}
		</div>

	{% else %}
		{% if template %}
			{% include template %}
		{% endif %}

		{{ content|raw }}
	{% endif %}
</div>


<div class="modal hide fade" id="newFileModal" role="dialog">
	<form action="?modul=overview" method="post">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>New File</h3>
		</div>
		<div class="modal-body">

			<div class="control-group">
				<label class="control-label" for="inputName">Name</label>
				<div class="controls">
					<input class="input-xlarge" type="text" id="inputName" placeholder="Name" name="file_name">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputType">Type</label>
				<div class="controls">
					<select class="input-xlarge"  id="inputType" name="file_type">
						<option value="source">Source</option>
						<option value="sprite">Sprite</option>
						<option value="background">Background</option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<a class="btn" href="?modul=import">Import</a>
			<button type="submit" class="btn btn-primary">Create</button>
		</div>
	</form>
</div>

</body>
</html>