<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Cloud GameBoy</title>

	{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
	{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
</head>

<body>

<div id="content">
	<noscript>
		<div class="alert alert-error">Bitte Javascript aktivieren!</div>
	</noscript>

	{% if error %}
		<pre class="alert alert-error">{{ error }}</pre>
	{% endif %}

	{% if success %}
		<pre class="alert alert-success">{{ success }}</pre>
	{% endif %}

	{% if template %}
		{% include template %}
	{% endif %}

	{{ content|raw }}
</div>

</body>
</html>