<h1>Project: {{ project.name }}</h1><hr>


<form action="?modul=overview" method="post">
	{% if writable %}
		<p class="pull-right" style="margin-top: 10px;">
			<input type="submit" value="Update" id="save" class="btn btn-primary">
		</p>
	{% endif %}

	<h2>Description</h2>
	<p><textarea name="description" style="width: 100%; box-sizing: border-box">{{ project.description }}</textarea></p>
</form>

<h2>Collaborators</h2>

{% if owner %}
<form action="?modul=overview" method="post">
	<p>
		<input type="text" name="user" class="input-xlarge" style="margin-bottom: 0">
		<input type="submit" value="Add" id="save" class="btn btn-primary">
	</p>
</form>
{% endif %}

<table class="table table-stripped" style="width: 70%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rights</th>
			{% if owner %}<th width="200">Actions</th>{% endif %}
		</tr>
	</thead>

	<tbody>
	{% for c in collaborators %}
		<tr>
			<td>{{ c.name }}</td>
			<td>{{ c.rights ? "write" : "read" }}</td>
			{% if owner %}
				<td>
					<a class="btn" href="?modul=overview&toggle={{ c.id }}">Toggle Rights</a>
					<a class="btn btn-danger" href="?modul=overview&remove={{ c.id }}">Remove</a>
				</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<h2>Settings</h2>

<form action="?modul=overview" method="post">
	<fieldset>
		<legend>Banking</legend>
		<label for="settingBanks">Number of Banks</label>
		<input id="settingBanks" type="number" name="settings[banks]" min="0" max="3" value="{{ settings.banks }}">
		<span class="help-block">
			Attention: This is complicated stuff! This will change the way yout project is compiled.
			Additionally to the main file we will also compile files with tha name bankX.c where X is the number of the bank.
			You should only use this if you know what you are doing!
		</span>



		<legend>Editor</legend>

		<label for="settingIndentUnit">Indent unit</label>
		<input id="settingIndentUnit" type="number" name="settings[editor][indentUnit]" min="0" value="{{ settings.editor.indentUnit }}">
		<span class="help-block">
			How many spaces a block (whatever that means in the edited language) should be indented. The default is 2.
		</span>

		<label class="checkbox" for="settingSmartIndent">
			<input id="settingSmartIndent" type="checkbox" name="settings[editor][smartIndent]" {{ settings.editor.smartIndent?"checked":"" }}> Smart indent
		</label>
		<span class="help-block">
			Whether to use the context-sensitive indentation that the mode provides
			(or just indent the same as the line before). Defaults to true.
		</span>

		<label for="settingTabSize">Tab size</label>
		<input id="settingTabSize" type="number" name="settings[editor][tabSize]" min="0" value="{{ settings.editor.tabSize }}">
		<span class="help-block">
			The width of a tab character. Defaults to 4.
		</span>

		<label class="checkbox" for="settingIndentWithTabs">
			<input id="settingIndentWithTabs" type="checkbox" name="settings[editor][indentWithTabs]" {{ settings.editor.indentWithTabs?"checked":"" }}> Indent with tabs
		</label>
		<span class="help-block">
			Whether, when indenting, the first N*tabSize spaces should be replaced by N tabs. Default is false.
		</span>

		<label class="checkbox" for="settingElectricChars">
			<input id="settingElectricChars" type="checkbox" name="settings[editor][electricChars]" {{ settings.editor.electricChars?"checked":"" }}> Electric chars
		</label>
		<span class="help-block">
			Configures whether the editor should re-indent the current line when a character is typed
			that might change its proper indentation (only works if the mode supports indentation).
			Default is true.
		</span>

		{% if writable %}
		<button type="submit" class="btn btn-primary">Save Settings</button>
		{% endif %}
	</fieldset>
</form>