<h1>Project: {{ project.name }}</h1><hr>


<form action="?modul=overview" method="post">
	{% if writable %}
		<p class="pull-right" style="margin-top: 10px;">
			<input type="submit" value="Update" id="save" class="btn btn-primary">
		</p>
	{% endif %}

	<h2>Description</h2>
	<p><textarea name="description" style="width: 100%; box-sizing: border-box">{{ project.description }}</textarea></p>
</form>

<h2>Collaborators</h2>

{% if owner %}
<form action="?modul=overview" method="post">
	<p>
		<input type="text" name="user" class="input-xlarge" style="margin-bottom: 0">
		<input type="submit" value="Add" id="save" class="btn btn-primary">
	</p>
</form>
{% endif %}

<table class="table table-stripped" style="width: 70%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rights</th>
			{% if owner %}<th width="200">Actions</th>{% endif %}
		</tr>
	</thead>

	<tbody>
	{% for c in collaborators %}
		<tr>
			<td>{{ c.name }}</td>
			<td>{{ c.rights ? "write" : "read" }}</td>
			{% if owner %}
				<td>
					<a class="btn" href="?modul=overview&toggle={{ c.id }}">Toggle Rights</a>
					<a class="btn btn-danger" href="?modul=overview&remove={{ c.id }}">Remove</a>
				</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>